.footer {
  background: rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 30px;
  margin-top:auto;
}

.contact {
  padding: 30px 0;
  text-align: center;
}
.contact > form {
  max-width: 1000px;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.contact input,
.contact textarea {
  width: 400px;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid black;
  padding: 10px;
  font-size: 20px;
  text-align: center;
}
