.nav {
  padding: 10px 0;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  margin: auto;
  max-width: 1000px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.nav > div {
  display: flex;
}
.nav > div a {
  color: var(--color-brown);
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
  font-size: 1.1rem;
  padding: 0 0.5em;
}
.logo {
  height: 80px;
  width: 200px;
  position: relative;
}
.logo img {
  object-fit: contain;
}
