.top {
  width: 100%;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("/bg.jpeg") rgba(0, 0, 0, 0.2);
  background-size: cover;
  background-blend-mode: multiply;
}
.top h1 {
  font-size: 3.2rem;
  font-weight: bold;
  color: white;
  text-align: center;
  margin: 0;
}
.top h3 {
  color: white;
  font-weight: normal;
}
.top a {
  margin-top: 3rem;
  font-size:1.5rem;
}
.topContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.meist {
  max-width: 1000px;
  margin: 60px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
}
.meistImage {
  margin-right: auto;
  text-align: center;
  position: relative;
  width: 400px;
  height: 300px;
}
.meistImage img {
  border-radius: 5px;
  overflow: hidden;
  object-fit: cover;

}
.meistText{
  width: 50%;
}
.meistText>div{
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.teenused {
  padding: 60px 0;
  max-width: 1000px;
  margin: auto;
  text-align: center;
}
.teenused > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.teenus {
  flex-basis: 32%;
  height: 200px;
  box-shadow: 0 4px 10px rgb(14 36 49 / 50%);
  margin: 10px 0;
  border-radius: 10px;
  position: relative;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  justify-content: center;
}
.teenus > div {
  position: relative;
  height: 100px;
  width: 100%;
}
.teenus > div img {
  object-fit: contain;
}
.title {
  font-weight: bold;
  font-size: 1.3rem;
  margin: 5px;
}
.description {
  display: none;
  margin: 5px;
}

.teenus:hover {
  transform: scale(1.2);
  transition: 0.5s;
  z-index: 3;
}
.teenus:hover .description {
  display: block;
}

/* BLOGI */
.blog {
  padding: 60px 0;
  text-align: center;
  background: linear-gradient(var(--color-green), var(--color-white));
}
.blog > div {
  max-width: 1000px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 40px;
}
.post {
  position: relative;
  box-shadow: 0 4px 15px var(--color-green);

  flex-basis: 32%;
  border-radius: 10px;
  overflow: hidden;
  height: 220px;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.postImage {
  object-fit: cover;
}

.postText {
  bottom: 0;
  height: 25%;
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(256, 256, 256, 0.6);
}
.postText h3 {
  margin: 0;
}

@media (max-width: 600px) {
}
