.nav {
  padding: 10px 0;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  margin: auto;
  max-width: 1000px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.nav > div {
  display: flex;
}
.nav > div a {
  color: var(--color-brown);
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
  font-size: 1.1rem;
  padding: 0 0.5em;
}
.logo {
  height: 10px !important;
}

.top {
  width: 100%;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("/bg.jpeg") rgba(0, 0, 0, 0.2);
  background-size: cover;
  background-blend-mode: multiply;
}
.top h1 {
  font-size: 3.2rem;
  font-weight: bold;
  color: white;
  text-align: center;
  margin: 0;
}
.top h3 {
  color: white;
  font-weight: normal;
}
.top a {
  margin-top: 3rem;
  color: white;
  background: none;
  border: 3px solid white;
  border-radius: 0.3em;
  font-size: 1.5rem;
  padding: 0.5em 1em;
}
.topContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.teenused {
  padding: 30px 0;
  max-width: 1000px;
  margin: auto;
  text-align: center;
}
.teenused > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.teenus {
  flex-basis: 32%;
  height: 200px;
  box-shadow: 0 4px 10px rgb(14 36 49 / 50%);
  margin: 10px 0;
  border-radius: 10px;
  position: relative;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  justify-content: center;
}
.title {
  font-weight: bold;
  font-size: 1.3rem;
  margin: 5px;
}
.description {
  display: none;
  margin: 5px;
}

.teenus:hover {
  transform: scale(1.2);
  transition: 0.5s;
  z-index: 3;
}
.teenus:hover .description {
  display: block;
}

/* BLOGI */
.blog {
  padding: 30px 0;
  text-align: center;
  background: linear-gradient(var(--color-green), var(--color-white));
}
.blog > div {
  max-width: 1000px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 40px;
}
.post {
  position: relative;
  box-shadow: 0 4px 15px var(--color-green);

  flex-basis: 32%;
  border-radius: 10px;
  overflow: hidden;
  height: 220px;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.postImage {
  object-fit: cover;
}

.postText {
  bottom: 0;
  height: 25%;
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(256, 256, 256, 0.6);
}
.postText h3 {
  margin: 0;
}
.blogButton {
  color: var(--color-green);
  background: none;
  border: 3px solid var(--color-green);
  border-radius: 0.3em;
  font-size: 1.5rem;
  padding: 0.3em 1em;
  cursor: pointer;

}

.contact {
  padding: 30px 0;
  text-align: center;
}
.contact > form {
  max-width: 1000px;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.contact input,
.contact textarea {
  width: 400px;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid black;
  padding: 10px;
  font-size: 20px;
  text-align: center;
}
.contact button{
  margin-top: 3rem;
  color: black;
  background: none;
  border: 3px solid black;
  border-radius: 0.3em;
  font-size: 1.5rem;
  padding: 0.3em 1em;
  cursor: pointer;
}
@media (max-width: 600px) {
}
