.top {
  width: 100%;
  min-height: 40vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background: url("/bg.jpeg") rgba(0, 0, 0, 0.2);
  background-size: cover;
  background-blend-mode: multiply;
}
.topContent {
  max-width: 1000px;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  color: white;
  font-size: 18px;
  text-transform: uppercase;
}
.topContent > div {
  margin: 10px;
  border-radius: 5px;
  overflow: hidden;
  height: 200px;
  width: 400px;
  position: relative;
}
.topContent > div img {
  object-fit: cover;
}

.content {
  margin: 50px auto;
  max-width: 65ch;
  font-size: 18px;
  line-height: 22px;
}
