
.topContent {
  max-width: 1000px;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.topContent > div {
  margin: 10px;
  border-radius: 5px;
  overflow: hidden;
  height: 200px;
  width: 400px;
  position: relative;
}
.topContent > div img {
  object-fit: cover;
}
